/* styles.css */

/* Container Styles */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}

.top-bar {
    width: 1850px;
    height: 131px;
    left: 150px;
    top: 0;
    position: absolute;
    background: #4F45B6;
}


.user-profile {
    width: 193.18px;
    height: 68px;
    left: 1554.65px;
    top: 46px;
    position: absolute;
}

.user-avatar {
    width: 61.33px;
    height: 60px;
    left: 0;
    top: 4px;
    position: absolute;
    background: linear-gradient(0deg, #A098AE 0%, #A098AE 100%);
    border-radius: 10px;
}

.user-info {
    width: 107.32px;
    height: 68px;
    left: 85.86px;
    top: 0;
    position: absolute;
}

.user-name {
    width: 107.32px;
    left: 0;
    top: 0;
    position: absolute;
    color: white;
  }
  
  .profile-name {
    font-size: 18px;
    font-family: 'Cairo';
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .profile-role {
    font-size: 18px;
    font-family: 'Cairo';
    font-weight: 400;
    word-wrap: break-word;
}

.dashboard-title {
    left: 337px;
    top: 211px;
    position: absolute;
    color: #252525;
    font-size: 36px;
    font-family: 'Cairo';
    font-weight: 700;
    word-wrap: break-word;
}

/* Home.css */
.main-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
}



/* Found Items Section 
.found-items-section {}
.found-items-box {  }
.found-items-header { }
.found-items-title { }
.found-items-count { }
*/

/* Lost Items Section 
.lost-items-section { }
.lost-items-box { }
.lost-items-header { }
.lost-items-title { }
.lost-items-count {weight }
 */

/* Sidebar Section */
.sidebar {
    width: 150px;
    height: 2032px;
    position: absolute;
    left: 0;
    top: -17px;
    background: #4F45B6;
}


.sidebar-btn {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 65px;
    background-image: url('./home-btn.png');
    /* Top property will be set inline in JSX to position each icon 
    background: url('https://via.placeholder.com/60x60'); */
}


.sidebar-btn:nth-of-type(1) {
    background-image: url('./home-btn.png');
    
} 


.search-bar-container {
    width: 50%;
    height: 50%;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 32px;
    background: #F5EFFC;
    margin-left: 25em;
    margin-top: 2.5em;
    border-radius: 20px;
    justify-content: flex-start;
    align-items: center;
    display: inline-flex;
}

.search-bar {
    width: 214px;
    padding: 16px 32px;
    border-radius: 22px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-icon-container {
    width: 32px;
    height: 32px;
    background: #808080;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .search-icon-inner {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-image: #808080;
}

.search-text {
    color: #A098AE;
    font-size: 18px;
    font-family: 'Cairo';
    font-weight: 400;
    word-wrap: break-word;
} 