.top-menu-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 199px;
    height: 1120px;
  }
  .report-found-icon {
    position: absolute;
    top: 461px;
    left: 51px;
    width: 67px;
    height: 67px;
    overflow: hidden;
  }
  .group-icon,
  .search-dollar-search-pay-prod-icon {
    position: absolute;
    height: 72.92%;
    width: 84.38%;
    top: 13.54%;
    right: 9.12%;
    bottom: 13.54%;
    left: 6.5%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .search-dollar-search-pay-prod-icon {
    height: 96.39%;
    width: 96.69%;
    top: 1.81%;
    right: 1.65%;
    bottom: 1.81%;
    left: 1.65%;
  }
  .b {
    position: absolute;
    height: 32%;
    width: 21.74%;
    top: 17.65%;
    left: 33.5%;
    display: inline-block;
  }
  .search-dollar-search-pay-prod {
    position: absolute;
    height: 41.67%;
    width: 38.33%;
    top: 50%;
    right: 8.33%;
    bottom: 8.33%;
    left: 53.33%;
    overflow: hidden;
  }
  .report-lost {
    position: absolute;
    top: 576px;
    left: 51px;
    width: 68px;
    height: 68px;
    overflow: hidden;
  }
  .bg,
  .lf-splash-5,
  .top-menu {
    position: absolute;
    top: 0;
    width: 1958.55px;
    height: 160px;
  }
  .bg {
    left: 0;
    background-color: var(--color-slateblue);
  }
  .lf-splash-5,
  .top-menu {
    left: 1.11px;
  }
  .lf-splash-5 {
    top: 31px;
    left: 29px;
    width: 110px;
    height: 110px;
    object-fit: cover;
  }
  .magnifier-icon {
    width: 32px;
    height: 32px;
    overflow: hidden;
    flex-shrink: 0;
  }
  .magnifier-icon,
  .search-here {
    position: relative;
  }
  .content,
  .search-bar {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .content {
    border-radius: 22px;
    padding: 23px var(--padding-13xl);
    gap: 16px;
  }
  .search-bar {
    position: absolute;
    top: 47px;
    left: calc(50% - 401px);
    border-radius: 20px;
    background-color: var(--gray-1);
    width: 818px;
    padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
    font-size: 18px;
    color: var(--gray-4);
    font-family: var(--font-cairo);
  }
  .background,
  .button-child {
    position: absolute;
    top: 0;
    left: 0;
  }
  .background {
    border-radius: 50px;
    background-color: var(--color-slateblue);
    box-shadow: 0 4px 75px rgba(0, 0, 0, 0.25);
    width: 579.73px;
    height: 717px;
  }
  .button-child {
    border-radius: 10px;
    background-color: rgba(144, 130, 236, 0.65);
    width: 218.72px;
    height: 62px;
  }
  .edit-profile {
    position: absolute;
    top: 14.68px;
    left: 17.5px;
    display: inline-block;
    width: 182.93px;
    height: 33.82px;
  }
  .button {
    position: absolute;
    top: 590px;
    left: 173.23px;
    width: 218.72px;
    height: 62px;
    font-size: 24px;
    color: var(--color-white);
  }
  .john-doe,
  .name {
    position: absolute;
    top: 44px;
    left: 40.95px;
    display: inline-block;
    width: 215.51px;
    height: 29px;
  }
  .john-doe {
    top: 0;
    left: 0;
    font-size: 35px;
    color: var(--color-white);
    width: 296.33px;
    height: 46px;
  }
  .info,
  .johndoegmailcom {
    position: absolute;
    top: 303px;
    left: 141.16px;
    width: 296.33px;
    height: 73px;
  }
  .johndoegmailcom {
    top: 0;
    left: 0;
    font-size: var(--font-size-13xl);
    color: var(--color-white);
    display: inline-block;
    height: 46px;
  }
  .card,
  .info1,
  .info2 {
    position: absolute;
    top: 389px;
    left: 137.02px;
    width: 296.33px;
    height: 73px;
  }
  .card,
  .info2 {
    top: 480px;
  }
  .card {
    top: 242px;
    left: 694.95px;
    width: 579.73px;
    height: 717px;
    text-align: center;
    font-size: var(--font-size-4xl);
    color: var(--color-plum);
    font-family: var(--font-lato);
  }
  .profile-child {
    position: absolute;
    top: 322px;
    left: 893px;
    width: 200px;
    height: 200px;
  }
  .profile {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: left;
    font-size: 12px;
    color: var(--color-white);
    font-family: var(--font-inter);
  }
  