.background {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  background-color: #4f45b6;
  box-shadow: 0 4px 75px rgba(0, 0, 0, 0.25);
  width: 579.73px;
  height: 717px;
}
.editprofilebutton {
  position: absolute;
  top: 590px;
}
.label,
.data {
  position: absolute;
  top: 44px;
  left: 40.95px;
  display: inline-block;
  width: 215.51px;
  height: 29px;
  padding: 10px;
}
.data {
  top: 10px;
  left: 0;
  bottom: 10px;
  font-size: 32px;
  color: #fff;
  width: 296.33px;
  height: 46px;
}
.email,
.lname,
.fname {
  position: absolute;
  top: 480px;
  left: 137.02px;
  width: 296.33px;
  height: 73px;
}
.lname,
.fname {
  top: 389px;
}
.zara-wardani {
  top: 0;
  left: 0;
  font-size: 35px;
  color: #fff;
  display: inline-block;
  height: 46px;
}
.fname,
.picture-icon {
  position: absolute;
  top: 303px;
  left: 141.16px;
  width: 296.33px;
  height: 73px;
}
.picture-icon {
  top: 80px;
  left: 198.05px;
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.bg,
.card {
  position: absolute;
  top: 242px;
  left: 694.95px;
  width: 579.73px;
  height: 717px;
  text-align: center;
}
.bg {
  top: 0;
  left: 0.11px;
  
  width: 198.55px;
  height: 2019.38px;
}
.side-menu-child {
  position: absolute;
  top: 2032px;
  left: 0;
  width: 199px;
  height: 0;
  object-fit: contain;
}
.group-icon,
.search-dollar-search-pay-prod-icon {
  position: absolute;
  height: 72.92%;
  width: 84.38%;
  top: 13.54%;
  right: 9.12%;
  bottom: 13.54%;
  left: 6.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.search-dollar-search-pay-prod-icon {
  height: 92.86%;
  width: 92.86%;
  top: 3.57%;
  right: 3.57%;
  bottom: 3.57%;
  left: 3.57%;
}
.b {
  position: absolute;
  height: 32%;
  width: 21.74%;
  top: 17.65%;
  left: 33.5%;
  display: inline-block;
}
.search-dollar-search-pay-prod {
  position: absolute;
  height: 41.67%;
  width: 38.33%;
  top: 50%;
  right: 8.33%;
  bottom: 8.33%;
  left: 53.33%;
  overflow: hidden;
}
.report-found-icon,
.report-lost {
  position: absolute;
  top: 366px;
  left: 1px;
  width: 68px;
  height: 68px;
  overflow: hidden;
  cursor: pointer;
}
.report-found-icon {
  top: 247px;
  left: 0;
  width: 67px;
  height: 67px;
  object-fit: cover;
}
.profile-icon {
  top: 132px;
  left: 1px;
  width: 68px;
  height: 68px;
}
.home-icon,
.image-5-icon,
.profile-icon {
  position: absolute;
  object-fit: cover;
  cursor: pointer;
}
.home-icon {
  top: 0;
  left: 2px;
  width: 65px;
  height: 65px;
  overflow: hidden;
}
.image-5-icon {
  top: 490px;
  left: 3px;
  width: 61px;
  height: 62px;
}
.nav {
  position: absolute;
  top: 242px;
  left: 65px;
  width: 69px;
  height: 552px;
}
.subtract-icon {
  position: relative;
  width: 66px;
  height: 65px;
  object-fit: cover;
}
.bg1,
.side-menu {
  position: absolute;
}
.side-menu {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  background-color: #4f45b6;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.bg1 {
  top: 17px;
  left: 1.11px;
  
  width: 1958.55px;
  height: 160px;
}
.magnifier-icon {
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.magnifier-icon,
.search-here {
  position: relative;
}
.p-content,
.search-bar {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.p-content {
  border-radius: 22px;
  padding: 23px 32px;
  gap: 16px;
}
.search-bar {
  position: absolute;
  top: 64px;
  left: calc(50% - 420.83px);
  border-radius: 20px;
  background-color: #f5effc;
  width: 818px;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 0;
  color: #a098ae;
}
.placeholder-icon {
  position: absolute;
  top: 4px;
  left: 0;
  border-radius: 10px;
  width: 62.34px;
  height: 60px;
  object-fit: cover;
}
.admin,
.zara-wardani1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 109.1px;
}
.admin {
  top: 34px;
  color: #a098ae;
  width: 50.91px;
}
.lf-splash-1,
.name2,
.user {
  position: absolute;
  top: 0;
  left: 87.28px;
  width: 109.1px;
  height: 68px;
}
.lf-splash-1,
.user {
  top: 65px;
  left: 1650px;
  width: 196.37px;
}
.lf-splash-1 {
  top: 42px;
  left: 47px;
  width: 122px;
  height: 130px;
  object-fit: cover;
}
.top-menu {
  position: absolute;
  top: -17px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  color: #fff;
  background-color: #4f45b6;
}
/* .profile {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  font-size: 23px;
  color: #a79ae0;
} */
