@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  /* --font-inter: Inter;
  --font-dm-sans: "DM Sans";
  --font-cairo: Cairo; */

  /* font sizes */
  /* --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-lg: 18px; */

  /* Colors */
  /* --white: #fff;
  --color-slateblue: #4f45b6;
  --gray-900: #161c24;
  --gray-300: #dfe3e8;
  --gray-400: #c4cdd5;
  --gray-1: #f5effc;
  --gray-4: #a098ae;
  --gray-500: #919eab; */

  /* Paddings */
  /* --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-11xs: 2px;
  --padding-13xl: 32px; */

  /* Border radiuses */
  /* --br-7xs: 6px; */
}

.bg,
.placeholder-icon {
  position: absolute;
  left: 0;
}
.bg {
  top: 0;
  background-color: var(--color-slateblue);
  width: 100%;
  height: 160px;
}
.placeholder-icon {
  top: 4px;
  border-radius: 10px;
  width: 66.81px;
  height: 60px;
  object-fit: cover;
}
.user-type,
.username {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 116.91px;
}
.user-type {
  top: 34px;
  color: var(--gray-4);
  width: 54.56px;
}
.name,
.user {
  position: absolute;
  top: 0;
  left: 93.53px;
  width: 116.91px;
  height: 68px;
}
.user {
  top: 48px;
  left: 2000px;
  width: 210.44px;
  cursor: pointer;
}

.searchtext {
  border: 1px solid var(--gray-300);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-xl);
  background-color: var(--gray-1);
  position: absolute;
  top: 47px;
  left: calc(50% - 421.39px);
  border-radius: 20px;
  box-sizing: border-box;
  width: 818px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-13xl) var(--padding-11xs) 20px;
  color: var(--gray-4);
}
.top-menu {
  position: absolute;
  top: 0;
  left: 1.11px;
  width: 100%;
  height: 160px;
  font-family: var(--font-cairo);
}
.report-lost-items-child {
  position: absolute;
  top: 262px;
  left: 288px;
  background-color: var(--gray-400);
  width: 1500px;
  height: 1px;
}
.report-lost-item {
  position: absolute;
  top: 6px;
  left: 0;
}
.report-lost-item-wrapper {
  position: absolute;
  top: 201px;
  left: 300px;
  width: 1080px;
  height: 42px;
  font-size: 27px;
  color: var(--gray-900);
  font-family: var(--font-dm-sans);
}
.submit-button-child {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-slateblue);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  width: 312px;
  height: 62px;
}
.submit {
  position: absolute;
  top: 21px;
  left: 133px;
  font-size: 16px;
  font-family: var(--font-inter);
  color: var(--white);
  text-align: left;
}
.submit-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 898px;
  left: 1015px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 312px;
  height: 62px;
}
.inputtext {
  border: 1px solid var(--gray-300);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-xl);
  background-color: var(--white);
  position: absolute;
  top: 0;
  left: 253px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 671px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
}
.item-lost {
  position: absolute;
  top: 10px;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 29px;
}
.date-lost,
.inputtext1 {
  position: absolute;
  top: 99px;
  left: 253px;
}
.date-lost {
  top: 109px;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 136px;
  height: 29px;
}
.inputtext2 {
  border: 1px solid var(--gray-300);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-xl);
  background-color: var(--white);
  position: absolute;
  top: 210px;
  left: 253px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 671px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
}
.location-lost {
  position: absolute;
  top: 220px;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 189px;
  height: 29px;
}
.inputtext3 {
  border: 1px solid var(--gray-300);
  background-color: var(--white);
  font-weight: 500;
  font-family: var(--font-dm-sans);
  font-size: var(--font-size-xl);
  position: absolute;
  top: 321px;
  left: 253px;
  border-radius: var(--br-7xs);
  box-sizing: border-box;
  width: 671px;
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xl);
}
.insert-image,
.item-description {
  position: absolute;
  top: 331px;
  left: 0;
  line-height: 24px;
  font-weight: 600;
  display: inline-block;
  width: 214px;
  height: 29px;
}
.insert-image {
  top: 430px;
}
.choose-file,
.choose-file-child,
.choose-file1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  position: absolute;
}
.choose-file-child {
  background-color: #d9d9d9;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 143px;
  height: 42px;
}
.choose-file,
.choose-file1 {
  background-color: transparent;
}
.choose-file1 {
  top: 9.17px;
  left: 15px;
  font-size: 21px;
  font-weight: 500;
  font-family: var(--font-dm-sans);
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  display: inline-block;
  width: 142px;
  height: 31.5px;
}
.choose-file {
  top: 430px;
  left: 274px;
  width: 157px;
  height: 42px;
}
.lost-item-form {
  position: absolute;
  top: 339px;
  left: 614px;
  width: 924px;
  height: 472px;
  font-size: var(--font-size-5xl);
  color: var(--gray-900);
}
.bg1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-slateblue);
  width: 198.55px;
  height: 100%;
}
.b {
  position: absolute;
  height: 32%;
  width: 21.74%;
  top: 17.65%;
  left: 33.5%;
  display: inline-block;
}

.view-history {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/history-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.back {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/logout-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.home-button {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/Homepage/home-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.profile-button {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/profile-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.found {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/found-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.lost {
  top: 409px;
  left: 6px;
  width: 60px;
  height: 59px;
  background-image: url(/src/Homepage/lost-btn.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.nav {
  position: absolute;
  top: 211px;
  left: 70.89px;
  width: 69px;
  height: 581px;
}
.logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 120px;
  height: 146px;
  background-image: url(/src/LF-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
  border: 10px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 45px;
  background-color: transparent;
}
.side-menu {
  position: absolute;
  top: -20px;
  left: -19.89px;
  width: 198.55px;
  height: 100%;
  font-size: 12px;
}
.report-lost-items {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--white);
  font-family: var(--font-inter);
}
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.custom-modal button {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.custom-modal button:hover {
  background-color: #45a049;
}
