.landing-page {
  background: url('landingbg.png') center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}


.login-button,
.register-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-right: 20px;
  color: #ffffff; 
  font-size: 16px;
  transition: color 0.3s;
}

.login-button:hover,
.register-button:hover {
  color: #4F45B6; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center; 
  padding-left: 6em; 
  padding-bottom: 17em;
}

  .welcome-text {
    font-size: 2em;
    color: #fff;
  }

  .italic-text {
    font-style: italic;
  }

  .lf-text {
    font-size: 3.5em; 
  }
  