body {
  font-family: 'Poppins', sans-serif;
}
.heading {
  font-weight: 600; /* Semi-bold */
}

.normal-text {
  font-weight: 400; /* Regular */
}

.landing-page {
  background-image: url('./landingbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-page {
  background-image: url('./Register/registerbg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}


.login-btn,
.register-btn {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  margin-right: 20px;
  color: #ffffff; 
  font-size: 18px;
  transition: color 0.3s;
}

.login-btn:hover,
.register-btn:hover {
  color: #4F45B6; 
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center; 
  padding-left: 6em; 
  padding-bottom: 16em;
}

  .welcome-text {
    font-size: 2em;
    color: #fff;
  }

  .italic-text {
    font-style: italic;
  }

  .lf-text {
    font-size: 3.4em; 
  }

  /* register page */
  .register-page {
    background-image: url('./Register/registerbg.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-container {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .register-form input {
    margin-bottom: 1rem;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 85%; /* Adjust the width as needed */
    height: 2.5em; /* Adjust the height as needed */
  }
  
  .register-form button {
    background-color: #4b2e83;
    color: white;
    padding: 0.5rem;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    width: 15em;
    height: 2.5em;
    margin: auto;
    cursor: pointer;
  }
  
  .register-form button:hover {
    background-color: #372056;
  }
  
  .login-link {
    text-align: center;
    margin-top: 1.5em;
  }
  
  .register-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; /* You can adjust the height to your preference */
  }